<form class="ui large form"
 :class="{'error': !passwords_match}">
  <div class="ui segment">
    <div class="ui small blue dividing header">
      Login with Admin Credentials
    </div>
    <div class="field">
      <div class="ui left icon input">
        <i class="user icon"></i>
        <input type="text" name="username" placeholder="Username"
         v-model="username">
      </div>
    </div>
    <div class="field">
      <div class="ui left icon input">
        <i class="lock icon"></i>
        <input type="password" name="password" placeholder="Password"
         v-model="password">
      </div>
    </div>
    <div class="ui positive button"
      @click="login">Login</div>

  </div>
</form>
